.SearchField{
    /* border:2px solid green; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url('../Resourse/Images/searchBackground.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height:80vh;
    width:100vw;
    box-sizing: border-box;
    position: relative;
    /* border:2px solid red; */
    
}
.searchBox input{
    text-align: center;
    width:30%;
    background-color: transparent;
    outline: none;
    padding:1.2em;
    border:2px solid rgb(158, 164, 158);
    word-wrap: break-word;
    border-radius: 14px;
    color: white;
    font-size: 1rem;
    word-spacing: 3%;
    background-color: rgba(69, 67, 67, 0.7);
    
}


.searchBox input:focus{
    background-color: rgba(0, 0, 0, 0.87);
    border:2px solid green;



}







.searchBox button{
   
    align-self: center;
    padding:0.7em;
    width:15%;
    background-color: transparent;
    outline: none;
    border:2px solid rgb(153, 246, 24);
    word-wrap: break-word;
    border-radius: 14px;
    color: white;
    font-size: 0.7em;
   

}
.searchBox button:hover{
    background-color: rgba(37, 159, 37,0.3);
    transform: scale(1.05);
    border:2px solid white;
}

.backgroundVideo{
    width:100%;
    height: 100%;
    /* border:2px solid white; */
    
    
}
.searchBox{
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}
.searchBox h3{
    color:rgb(107, 35, 194);
    text-align: center;
    padding: 5px;
}

.backgroundVideo video{
    width:100vw;
    height: 100%;
    object-fit:cover;
}

.searchFieldContent{
    margin-top: 2rem;
    width: 80%;
    height:30%;
    color:white;
    /* border:0.1em solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 10px;
    background-color: black;
    /* background: rgb(34,195,96); */
/* background: linear-gradient(360deg, rgba(34,195,96,0.3408613445378151) 65%, rgba(102,253,45,0.2232142857142857) 100%); */
border-top-right-radius:2.9rem ;
border-bottom-left-radius:2.9rem ;

}
.searchFieldContent p{
    font-size: 1.5rem;
    animation-name: para;
    animation-duration: 2s;
    animation-iteration-count: 10;
    animation-name: field;
animation-duration: 2s;
animation-iteration-count: infinite;
   

  
}

@keyframes para {
    from {
        transform: scale(0.1);
        color:red;
    }
    to{
        transform :scale(1);
        color:yellow;
    }
    
}

/*--- Animated Text For Search Field */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*/

.section {
  display: flex;
  /* background: #000; */
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  width:100%;
  margin:2em;

} 

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 3.5em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.div1 h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #4bd735;
}

.div1 h2:nth-child(2) {
  color: #1bf403;
  animation: animate 4s ease-in-out infinite;
}
.div2 h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #4bd735;
}

.div2 h2:nth-child(2) {
  color: #1bf403;
  animation: animate 4s ease-in-out infinite;
}

.adjuster{
  display: flex;
  flex-direction: column;
  gap: 4rem;
 
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}


/* ------end-------- */


@media screen and (max-width:740px){
    .searchBox input{
        width:60vw;
        margin:5%;
    }

    .searchBox button{
        width:30vw;
        padding:10px;
    }

    
}
/* Lanscape Correction :- */

@media screen and (min-aspect-ratio: 4/3) {

  .section {
    display: flex;
    /* background: #000; */
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
    width:100%;
    height: 1.2rem;
    margin:-0.3em;
    
  
  } 
  
  .content h2{
    font-size: 2em;
    
    
  }

  .searchBox input{
    width:60vw;
    margin-top: -5%;
}

.searchBox button{
    width:30vw;
    
}

.adjuster{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1em;
 
}
}
@media screen and (min-width:834px) {
  .searchBox input{
    width:40vw;
  
}

.searchBox button{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width:20vw;
  
}

.content h2{
  font-size: 4em;
  
  
  
}

.div2{
  margin-top: 2rem;
  
}
 
  
}
